@import "tailwindcss";

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/aeonik/AeonikTRIAL-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Aeonik";
  src: url("/fonts/aeonik/AeonikTRIAL-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Aeonik";
  src: url("/fonts/aeonik/AeonikTRIAL-Light.otf") format("opentype");
  font-weight: 300;
}

:root {
  font-family: "Aeonik", sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.hide-horizontal-scrollbar {
  &::-webkit-scrollbar:horizontal {
    display: none;
    height: 0;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar-vertical {
    display: block;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}